@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Typography */
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-heading: 'Poppins', sans-serif;

  /* Sizing and Formatting */
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --navbar-height: 50px;




  /* Primary Colors */
  --color-primary-900: #0E2519;
  --color-primary-800: #173628;
  --color-primary-700: #1D4934;
  --color-primary-600: #3B9165;
  --color-primary-500: #52B788;
  --color-primary-400: #61B892;
  --color-primary-300: #75BD9E;
  --color-primary-200: #8BC1AA;
  --color-primary-100: #9FC6B5;

  /* Neutral Colors */
  --color-neutral-900: #0C0D0C;
  --color-neutral-800: #161817;
  --color-neutral-700: #242827;
  --color-neutral-600: #303634;
  --color-neutral-500: #49504E;
  --color-neutral-400: #616B69;
  --color-neutral-300: #798682;
  --color-neutral-200: #949E9B;
  --color-neutral-100: #C9CFCC;

  /* Accent Colors */
  --color-accent-900: #250E1A;
  --color-accent-800: #361725;
  --color-accent-700: #491D32;
  --color-accent-600: #913B67;
  --color-accent-500: #B75281;
  --color-accent-400: #B86187;
  --color-accent-300: #BD7594;
  --color-accent-200: #C18BA2;
  --color-accent-100: #C69FB0;

  /* Danger Colors */
  --color-danger-900: #330003;
  --color-danger-800: #4B0302;
  --color-danger-700: #7E0402;
  --color-danger-600: #A70402;
  --color-danger-500: #CD0402;
  --color-danger-400: #E61D19;
  --color-danger-300: #E05452;
  --color-danger-200: #E08785;
  --color-danger-100: #E6B7B3;

  /* Warning Colors */
  --color-warning-900: #332600;
  --color-warning-800: #4A3803;
  --color-warning-700: #916D03;
  --color-warning-600: #CC9900;
  --color-warning-500: #F2B705;
  --color-warning-400: #F2C336;
  --color-warning-300: #F1CA55;
  --color-warning-200: #F1D993;
  --color-warning-100: #F4E6BE;

  /* Success Colors */
  --color-success-900: #051702;
  --color-success-800: #092F04;
  --color-success-700: #0F4607;
  --color-success-600: #197A06;
  --color-success-500: #29C20A;
  --color-success-400: #35F00F;
  --color-success-300: #60EF43;
  --color-success-200: #8AF075;
  --color-success-100: #B1F4A4;
}

@layer base {
  :root {
    /* Light Theme */
    --color-bg: var(--color-neutral-100);
    --color-surface: var(--color-neutral-200);
    --color-border: var(--color-neutral-300);

    --color-text: var(--color-neutral-900);
    --color-text-muted: var(--color-neutral-600);

    --color-primary: var(--color-primary-500);
    --color-primary-contrast: var(--color-primary-700);
    --color-primary-text: var(--color-neutral-100);

    --color-accent: var(--color-primary-400);
    --color-success: var(--color-success-500);
    --color-danger: var(--color-danger-500);
  }

  .dark {
    /* Dark Theme Overrides */
    --color-bg: var(--color-neutral-700);
    --color-surface: var(--color-neutral-600);
    --color-border: var(--color-neutral-500);

    --color-text: var(--color-neutral-100);
    --color-text-muted: var(--color-neutral-300);

    --color-primary: var(--color-primary-700);
    --color-primary-contrast: var(--color-primary-200);
    --color-primary-text: var(--color-neutral-100);

    --color-accent: var(--color-primary-200);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-sans);;
  }

  html {
    background-color: var(--color-bg);
    color: var(--color-text);
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4 {
    font-family: var(--font-heading);
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@layer components {
  /* Header */
  header {
    @apply bg-[var(--color-primary)] text-[var(--color-primary-contrast)]
  }

  /* Nav */
  nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-lg);
    height: 100%;
    cursor: pointer;
    @apply px-4 text-sm transition-colors hover:bg-[var(--color-primary-contrast)] hover:text-[var(--color-primary)]
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    @apply py-16 px-6 md:px-12 max-w-6xl mx-auto;
    width: 100%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .shadow-brand {
    box-shadow: 0 4px 6px -1px rgb(37 99 235 / 0.2);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (max-width: 350px) {
  .card-description-wrapper {
    display: none;
  }
}
